DOCKER_IMAGE=(Name and version of app's docker image you are building and/or pulling)
SPRINGDRASIL_PORT=
DB_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
BASE_DOMAIN_URL=
YGGDRASIL_SIGNATURE_PRIVATE_KEY=
YGGDRASIL_SIGNATURE_PUBLIC_KEY=
SERVER_FORWARD_HEADERS_STRATEGY=(Optional, defaults to "framework")